* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlAdsnzxqhcpil1ctXpBlDK4vLKc3_Lz_d9g&s');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    animation: fadeIn 1s backwards;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
h1{
    text-align: left;
    margin-top: 50px;
}
p{
    text-align: justify;
    font-size: 25px;
}
.light-mode {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.dljobvua-c_4hBvxhtx8ewHaEo&pid=Api&P=0&h=180');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: black;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}